* {
  box-sizing: border-box;
}

.app.light {
  width: 100vw;
  height: 100vh;
  background: #b6abfa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}


.app.dark {
  width: 100vw;
  height: 100vh;
  background: #07013d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.theme-box {
  border: 5px solid black;
  padding: 100px 120px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Dark mode box */
.app.dark .theme-box {
  background: #090153;
  border-color: white;
}

h1 {
  margin: 0;
}

/* Dark text */
.app.dark h1 {
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.app.dark button {
  background: white;
  color: black;
}

button:active {
  transform: scale(0.95);
}
